<a href="https://colab.research.google.com/github/chaiyaphum/2016-budget-data/blob/master/Python_Web_Scraping_C4_RegEx_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Returns a match where the specified characters are at the beginning or at the end of a word

In [52]:
import re

message = "The rain in Spain"

result_start = re.findall(r"\b", message)
print(result_start)

result_end = re.findall(r"ain\b", message)
print(result_end)

['', '', '', '', '', '', '', '']
['ain', 'ain']

## Returns a match for any two-digit numbers from 00 and 59

In [53]:
message = "8 times before 11:45 AM"
result = re.findall("[0-5][0-9]", message)

print(result)

['11', '45']

## **Extract email sub-strings from document**

In [3]:
message = "Hi my name is Somchai and email address is Somchai.example@tu.ac.th and my friend's email is apirak@gmail.com (@mail.com)"
result = re.findall("([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)", message)

print(result)

['Somchai.example@tu.ac.th', 'apirak@gmail.com']

## **Extract URL from document**

In [30]:
message = "Hi my name is Somchai and web address is https://www.tu.ac.th and my friend's email is www.apirak.com (http://ap.org)"
result = re.findall("(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})", message)

print(result)

['https://www.tu.ac.th', 'www.apirak.com', 'http://ap.org)']

## **Extract number from document**

In [4]:
message = "สเตฟานีได้รับรางวัลแกรมมี่ 3 รางวัล ในฐานะศิลปินเดี่ยวแล้วเธอยังได้รับอีกหลายรางวัล อย่างเช่น รางวัลอเมริกันมิวสิกอะวอร์ด บริตอะวอดส์ เวิลด์มิวสิกอะวอดส์ และ 2 รางวัลบิลบอร์ดมิวสิกอวอร์ด ในปี 2003 เธอยังออกสินค้าประเภทเครื่องแต่งกายในนาม แอล.เอ.เอ็ม.บี. ยังแยกแบรนด์สินค้าอีกชื่อ คือ ฮาราจูกุเลิฟเวอส์ ที่ได้รับแรงบันดาลใจจากวัฒนธรรมญี่ปุ่นและแฟชั่น ในช่วงเวลานี้เองเธอจะแสดงและปรากฏตัวพร้อมนักเต้นสาว 4 คน ที่รู้จักในชื่อ ฮาราจูกุเกิลส์ เธอแต่งงานกับนักดนตรีชาวอังกฤษ เกวิน รอสส์เดล ระหว่างปี 2002 ถึง 2016 และมีบุตรชายด้วยกัน 3 คน นิตยสาร บิลบอร์ด จัดอันดับให้เธออยู่อันดับ 54 ของศิลปินที่ประสบความสำเร็จที่สุด และอันดับ 37 ของศิลปินที่ประสบความสำเร็จบนฮอต 100 ในทศวรรษ 2000–09"
result = re.findall("\d+", message)

print(result)

['3', '2', '2003', '4', '2002', '2016', '3', '54', '37', '100', '2000', '09']